*{
  margin: 0;
  padding: 0;
  text-align: center;
}

.title{

color: white;
background-color: #0B60B0;
width: 100%;
height: 90px;
padding-top:20px;
font-size: 50px;
font-style: bold  ;
}
.img{
  width:165px ;
  height: 165px;
}.box{
  width: 200px;
  height: 200px;
  object-fit: cover;

 
}
.img{
  border-width: 2px;
  
}
@media screen and (max-width: 500px) {
 
  body{
    font-size: 25px;
    
  }
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    gap: 0.8rem;
  }

.title{
    width: 125%;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    border-color: #0878e0;

}
.img{
    width: 100px;
  height: 100px;
}
.box{
    width: 75px;
    height: 75px;
  }
  .boxes {
    margin-left: 23px;
    margin-right: 20px;
    /* padding-left: 2rem; */
  display: flex;
  justify-content:center;
  text-align: center;
  align-items: center;
  /* width: 400px; */
    gap: 0.8em;
    height: 400px;
 }
}
/* end here of the rd 

*/
.boxes{
  display: flex;
justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  gap: 3rem;
  }
  .img-title{
    font-size: 20px;
    font-style: italic;
  }
  .img:hover{
   
    border-radius: 50%;
    border-color: black;
  border-style: solid;
  cursor:pointer;
  }
 .score-board{
  display: flex;
  justify-content: center;
 text-align: center;
 gap: 5rem;
 padding-top: 3rem;
 padding-bottom: 3rem;

 }
 .point{
  font-size: 30px;
  font-style: bold;
 }
 .point-user{
  font-size: 35px;
  font-style: oblique;
 }
 #lastpara{
  display: inline-block;
  font-size: 40px;
  font-style: italic;
  
background-color: black;
color: #fff;
padding:10px;

 }
 body{
  background-color: #4287f5;
 }
 .img-title{
  font-size: 25px;
  color: #fff;
 }
 